{% extends 'base.html' %}

{% block title %}<i class="icon-tags"></i> Tags{% endblock %}

{% block content %}
    {% url "list-tags" as list_tags %}
    <div class="toolbar">
        <div class="add-item">
            <a href="{% url 'add-tag' %}"><i class="icon-plus-sign"></i> Add a Tag</a>
        </div>
        {% include "partials/search.html" with url=list_tags %}
    </div>
    <ul class="tags">
    {% for tag in tags %}
        {% include "partials/tag_item.html" %}
    {% empty %}
        <li class="none-found">
            No tags found :(<br />
            <span class="description">Go ahead and add one!</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
