{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <div class="page-header clearfix container">
        <h1 class="pull-left">Bookmarks <small>View Tags</small></h1>
        <div class="pull-right">
            <a class="btn btn-green" href="{% url 'add-tag' %}">Add a Tag</a>
        </div>
    </div>

    {% include "partials/search.html" %}

    <div class="items container">
        {% for tag in tags %}
            {% include "partials/tag_item.html" %}
        {% empty %}
            <div class="none-found">No tags found</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
