{% extends 'base.html' %}

{% block title %}Bookmarks - Filed Under "{{ tag.title }}"{% endblock %}

{% block content %}
<div class="item-tools">
    <a href="{% url 'add-bookmark-for-tag' tag.slug %}">Add a Bookmark</a>
    <a href="{% url 'list-tags' %}">View Tags</a>
    <a href="{% url 'list-bookmarks' %}">View All Bookmarks</a>
    <a href="{% url 'favorited-bookmarks' %}">View Favorited Bookmarks</a>
    {% if bookmarks %}<a href="#" class="toggle-indv-item-tools">Edit Items</a>{% endif %}
</div>
{% url "view-tag" tag.slug as view_tag %}
{% include "partials/search.html" %}
<div class="items">
    {% for bookmark in bookmarks %}
        {% include "partials/bookmark_item.html" %}
    {% empty %}
        <div class="none-found">No bookmarks found for that tag</div>
    {% endfor %}
</div>
{% endblock %}
