{% extends 'base.html' %}


{% block content %}
<div class="col-lg-12">
    <div class="page-header clearfix container">
        <h1 class="pull-left">Bookmarks <small>Filed Under "{{ tag.title }}"</small></h1>
        <div class="pull-right">
            <a class="btn btn-green" href="{% url 'add-bookmark-for-tag' tag.slug %}">Add a Bookmark</a>
        </div>
    </div>

    {% include "partials/search.html" %}

    <div class="items container">
        {% for bookmark in bookmarks %}
            {% include "partials/bookmark_item.html" %}
        {% empty %}
            <div class="none-found">No bookmarks found for that tag</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
