{% extends 'base.html' %}

{% block content %}

    <h2>Freshly Added Bookmarks</h2>
    {% if new_bookmarks %}
        <ul>
            {% for bookmark in new_bookmarks %}
                {% include "partials/bookmark_item.html" %}
            {% endfor %}
        </ul>
    {% else %}
        You have not created any bookmarks yet.
    {% endif %}

    <h2>Your Popular Tags</h2>
    {% if popular_tags %}
        <ul>
        {% for count, title, tag in popular_tags %}
            {% include "partials/tag_item.html" %}
        {% endfor %}
        </ul>
    {% else %}
        You have not created any tags yet.
    {% endif %}

{% endblock %}
