{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <div class="page-header">
        <h1>Dashboard <small>{% if user.first_name %}{{ user.first_name }}{% if user.last_name %} {{ user.last_name }}{% endif %}{% else %}{{ user.username }}{% endif %}</small></h1>
    </div>

    {% if reminders %}
    <div class="items container today-reminders">
        <h2>You have {% if reminders|length > 1 %}Reminders{% else %}a Reminder{% endif %} set for Today</h2>
        {% for reminder in reminders %}
        <p>{{ reminder.title }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <div class="container">
        <div class="items row dashboard-stats">
            <div class="col-sm-2 dashboard-stat">
                <a href="{% url "list-bookmarks" %}">
                    <span class="count">{{ bookmarks_count }}</span>
                    <span class="type">Bookmark{% if bookmarks_count > 1 %}s{% endif %}</span>
                </a>
            </div>
            <div class="col-sm-2 dashboard-stat">
                <a href="{% url "list-tags" %}">
                    <span class="count">{{ tags_count }}</span>
                    <span class="type">Tag{% if tags_count > 1 %}s{% endif %}</span>
                </a>
            </div>
            <div class="col-sm-2 dashboard-stat">
                <a href="{% url "favorited-bookmarks" %}">
                    <span class="count">{{ favorited_count }}</span>
                    <span class="type">Favorited</span>
                </a>
            </div>
            <div class="col-sm-2 dashboard-stat">
                <a href="{% url "calendar" %}">
                    <span class="count">{{ reminders_count }}</span>
                    <span class="type">Reminder{% if reminders_count > 1 %}s{% endif %}</span>
                </a>
            </div>
            <div class="col-sm-2 dashboard-stat">
                <a href="{% url "list-categories" %}">
                    <span class="count">{{ notes_count }}</span>
                    <span class="type">Note{% if notes_count > 1 %}s{% endif %}</span>
                </a>
            </div>
            <div class="col-sm-2 dashboard-stat">
                <a href="{% url "list-todolists" %}">
                    <span class="count">{{ todolists_count }}</span>
                    <span class="type">Todo List{% if todolists_count > 1 %}s{% endif %}</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
