{% extends 'base.html' %}

{% block home %}
<div class="home">
    <div class="header clearfix">
        <div class="logo"><i class="icon-pushpin"></i>MyDash</div>
        <div class="nav">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </div>
    </div>
    <div class="description">
        <h1>All Your Tools In One Place</h1>
        <h2>MyDash is your one stop management dashboard on the web. Store your
        bookmarks, reminders, and notes all in one place to make life simple
        again.</h2>
    </div>
    <div class="information clearfix">
        <div class="info-item left">
            <h3><i class="icon-bookmark"></i>Manage Bookmarks</h3>
            <p>Store your bookmarks and manage them anywhere. Group your
            links with categories and search for them when your lists start to fill up.</p>
        </div>
        <div class="info-item right">
            <h3><i class="icon-bell-alt"></i>Set Reminders</h3>
            <p>Stop forgetting things. Set the
            time, leave yourself notes and when it's time to remember,
            we'll email you everything you need to know.</p>
        </div>
        <div class="info-item left">
            <h3><i class="icon-list-ul"></i>Create Notes</h3>
            <p>Create notes about a restaurant recommendation or jot
            down your idea for the next big application. We'll remember it
            so you don't have to.</p>
        </div>
        <div class="info-item right">
            <h3><i class="icon-tasks"></i>Todo Lists</h3>
            <p>Make lists and stay on track with MyDash. Create todo lists and
            access them whenever you need to check off the next task.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}{% endblock %}

{% block footer %}
    <div class="footer">
        &copy; {% now "Y" %} MyDash &middot; Developed by <a href="http://www.theorvillagroup.com">The Orvilla Group<a/>
    </div>
{% endblock %}
