{% extends 'base.html' %}

{% block content %}

<div class="col-lg-12">
    {% url 'view-category' category as view_category %}

    <div class="page-header clearfix container">
        <h1 class="pull-left">Notes <small>Edit Note</small></h1>
        <div class="pull-right">
            <a class="btn btn-green" href="{{ view_category }}">View Notes for "{{ category.title }}"</a>
        </div>
    </div>

    <div class="container">
        {% include "partials/form.html" with action=note.get_edit_url submit_text="Submit" cancel_link=note.get_category_url %}
    </div>
</div>
{% endblock %}
