{% extends 'base.html' %}

{% block title %}Notes - {{ category_title }}{% endblock %}

{% block content %}
{% url "list-notes" as list_notes %}
<div class="item-tools">
    <a href="{% url 'add-note' category %}">Add a Note</a>
    <a href="{% url 'list-categories' %}">View All Categories</a>
    {% if notes %}<a href="#" class="toggle-indv-item-tools">Edit Items</a>{% endif %}
</div>
{% include "partials/search.html" %}
<div class="items">
    {% for note in notes %}
        {% include "partials/note_item.html" %}
    {% empty %}
        <div class="none-found">No notes found</div>
    {% endfor %}
</div>
{% endblock %}
