{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <div class="page-header clearfix container">
        <h1 class="pull-left">Notes <small>View Note</small></h1>
        <div class="pull-right">
            <a class="btn btn-green" href="{% url 'view-category' note.category %}">View Notes Filed as "{{ note.category.title }}"</a>
        </div>
    </div>

    <div class="items container">
        <div class="item-block">
            <div class="item">
                <h2>{{ note.title }}</h2>
                <div class="item-extra-info">
                    {{ note.description|linebreaks }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
