{% extends 'base.html' %}

{% block title %}Notes - {{ note.title }}{% endblock %}

{% block content %}
{% url "list-notes" as list_notes %}
<div class="item-tools">
    <a href="{% url 'add-note' note.category %}">Add a Note</a>
    <a href="#" class="toggle-indv-item-tools">Edit Note</a>
</div>
{% include "partials/search.html" %}
<div class="items">
    <div class="item-block">
        <div class="item">
            <h2>{{ note.title }}</h2>
            <div class="item-extra-info">
                {{ note.description|linebreaks }}
            </div>
        </li>
        <div class="indv-item-tools">
            <ul>
                <li><a class="tool" href="{{ note.get_edit_url }}">Edit</a></li>
                <li>
                    <form method="post" action="{{ note.get_delete_url }}">
                        {% csrf_token %}
                        <button class="link-button tool" type="submit" />Delete</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
