{% extends 'base.html' %}

{% block content %}
    <div class="item-tools">
        <a href="{% url 'add-reminder' %}">Add a Reminder</a>
        <a href="{% url 'list-reminders' %}">List View</a>
        <a href="{% url 'calendar' %}">Calendar View</a>
    </div>
    <div class="calendar clearfix">
        <h1>{{ m }} {{ year }}</h1>
        <table>
            <thead>
                <th>Sun<span class="mobile-hide">day</span></th>
                <th>Mon<span class="mobile-hide">day</span></th>
                <th>Tues<span class="mobile-hide">day</span></th>
                <th>Wed<span class="mobile-hide">nesday</span></th>
                <th>Thurs<span class="mobile-hide">day</span></th>
                <th>Fri<span class="mobile-hide">day</span></th>
                <th>Sat<span class="mobile-hide">urday</span></th>
            </thead>
            <tbody>
                {% for week in weeks %}
                <tr>
                    {% for day in week %}
                    <td class="{% spaceless %}{% if day == today %}today{% endif %}
                        {% if day in reminder_dates %} reminder{% endif %}{% endspaceless %}">
                        <a href="{% url 'calendar-view-day' year=day.year month=day.month day=day.day %}">{{ day.day }}</a>
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <form class="reminder-date-form" action="" method="post">
            {% csrf_token %}
            <select name="month" class="month-select">
                {% for month, word in months.items %}
                <option value="{{ month }}" {% if word == m %}selected{% endif %}>{{ word }}</option>
                {% endfor %}
            </select>
            <select name="year" class="year-select">
                {% for year in years %}
                <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn">Submit</button>
        </form>
        <div class="reminder-choice clearfix next-previous">
            <ul>
                <li><a class="previous btn" href="{{ previous_month }}"><i class="icon-arrow-left"></i>Previous</a></li>
                <li><a class="next btn" href="{{ next_month }}">Next<i style="margin-left: 10px;" class="icon-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
{% endblock %}
