{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <div class="page-header clearfix container">
        <h1 class="pull-left">Reminders <small>Calendar View</small></h1>
        <div class="pull-right">
            <a class="btn btn-green" href="{% url 'add-reminder' %}">Add Reminder</a>
        </div>
    </div>

    <div class="items container calendar">
        <div class="clearfix row calendar-header">
            <div class="col-xs-1 previous">
                <a class="btn btn-red" href="{{ previous_month }}">
                    <span class="visible-xs"><i class="fa fa-arrow-left"></i></span>
                    <span class="hidden-xs"><i class="fa fa-arrow-left"></i> Previous</span>
                </a>
            </div>
            <div class="col-xs-10 calendar-title">
                <h2>{{ m }} {{ year }}</h2>
            </div>
            <div class="col-xs-1 next">
                <a class="btn btn-red" href="{{ next_month }}">
                    <span class="visible-xs"><i class="fa fa-arrow-right"></i></span>
                    <span class="hidden-xs">Next <i class="fa fa-arrow-right"></i></span>
                </a>
            </div>
        </div>
        <div class="row calendar-table">
            <table class="col-xs-12">
                <thead>
                    <th><span class="visible-xs">Sun</span><span class="hidden-xs">Sunday</span></th>
                    <th><span class="visible-xs">Mon</span><span class="hidden-xs">Monday</span></th>
                    <th><span class="visible-xs">Tues</span><span class="hidden-xs">Tuesday</span></th>
                    <th><span class="visible-xs">Wed</span><span class="hidden-xs">Wednesday</span></th>
                    <th><span class="visible-xs">Thurs</span><span class="hidden-xs">Thursday</span></th>
                    <th><span class="visible-xs">Fri</span><span class="hidden-xs">Friday</span></th>
                    <th><span class="visible-xs">Sat</span><span class="hidden-xs">Saturday</span></th>
                </thead>
                <tbody>
                    {% for week in weeks %}
                        <tr>
                        {% for day in week %}
                            <td class="{% spaceless %}{% if day == today %}today{% endif %}
                                {% if day in reminder_dates %} reminder{% endif %}{% endspaceless %}">
                                <a href="{% url 'calendar-view-day' year=day.year month=day.month day=day.day %}">{{ day.day }}</a>
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row calendar-form">
            <form class="reminder-date-form col-xs-12 form-inline" action="" method="post">
                {% csrf_token %}
                <select name="month" class="month-select form-control">
                    {% for month, word in months.items %}
                        <option value="{{ month }}" {% if word == m %}selected{% endif %}>{{ word }}</option>
                    {% endfor %}
                </select>
                <select name="year" class="year-select form-control">
                    {% for year in years %}
                        <option value="{{ year }}">{{ year }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-green">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
