{% extends 'base.html' %}

{% block content %}
    {% url "list-reminders" as list_reminders %}
    <div class="toolbar">
        <div class="add-item">
            <a href="{% url 'add-reminder' %}"><i class="icon-plus-sign"></i> Add a Reminder</a>
        </div>
        {% include "partials/search.html" with url=list_reminders %}
        <div class="reminder-choice clearfix">
            <ul>
                <li><a href="{% url 'list-reminders' %}"><i class="icon-list"></i> List View</a></li>
                <li><a href="{% url 'calendar' %}"><i class="icon-calendar"></i> Calendar View</a></li>
            </ul>
        </div>
    </div>
    <ul>
    {% for reminder in reminders %}
        {% include "partials/reminder_item.html" %}
    {% empty %}
        <li class="none-found">
            No reminders found :(<br />
            <span class="description">Go ahead and add one!</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
