{% extends 'base.html' %}

{% block title %}Reminders - {{ date }}{% endblock %}

{% block content %}
<div class="item-tools">
    <a href="{% url 'add-reminder-for-day' year=date.year month=date.month day=date.day %}">Add a Reminder</a>
    <a href="{% url 'calendar' %}">Back to Calendar</a>
    {% if reminders %}<a href="#" class="toggle-indv-item-tools">Edit Items</a>{% endif %}
</div>
<div class="items">
    {% for reminder in reminders %}
        {% include "partials/reminder_item.html" %}
    {% empty %}
        <div class="none-found">No reminders found on {{ date }}</div>
    {% endfor %}
</div>
{% endblock %}
