{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <div class="page-header clearfix container">
        <h1 class="pull-left">Todo Lists <small>Edit List</small></h1>
        <div class="pull-right">
            <a class="btn btn-green" href="{% url 'list-todolists' %}">View All Lists</a>
        </div>
    </div>

    <div class="container">
        {% url "list-todolists" as list_todolists %}
        {% include "partials/form.html" with action=todolist.get_edit_url submit_text="Submit" cancel_link=list_todolists %}
    </div>
</div>
{% endblock %}
