{% extends 'base.html' %}

{% block content %}
<div class="col-lg-12">
    <div class="page-header clearfix container">
        <h1 class="pull-left">Todo Lists <small>All Lists</small></h1>
        <div class="pull-right">
            <a class="btn btn-green" href="{% url 'add-todolist' %}">Add a Todo List</a>
        </div>
    </div>

    {% include "partials/search.html" %}

    <div class="items container">
        {% for todolist in todolists %}
            {% include "partials/todolist_item.html" %}
        {% empty %}
            <div class="none-found">No todo lists found</div>
        {% endfor %}
    </div>
</div>
{% endblock %}
