{% extends 'base.html' %}

{% block title %}Todo Lists{% endblock %}

{% block content %}
{% url "list-todolists" as list_todolists %}
<div class="item-tools">
    <a href="{% url 'add-todolist' %}">Add a Todo List</a>
    {% if todolists %}<a href="#" class="toggle-indv-item-tools">Edit Items</a>{% endif %}
</div>
{% include "partials/search.html" %}
{% for todolist in todolists %}
    {% include "partials/todolist_item.html" %}
{% empty %}
    <div class="none-found">No todo lists found</div>
{% endfor %}
{% endblock %}
