{% extends 'base.html' %}

{% block title %}{{ todolist.title }}{% endblock %}

{% block content %}
<div class="item-tools">
    <a href="{% url 'add-task' todolist.slug %}">Add a Task</a>
    <a href="{% url 'list-todolists' %}">Back to Todo Lists</a>
    {% if tasks %}<a href="#" class="toggle-indv-item-tools">Edit Items</a>{% endif %}
</div>
<div class="items">
    {% for task in tasks %}
        {% include "partials/task_item.html" %}
    {% empty %}
        <div class="none-found">No tasks found</div>
    {% endfor %}
</div>
{% endblock %}
