<li class="item">
    <i class="icon-bookmark"></i> <a href="{{ bookmark.url }}">{{ bookmark.title|truncatechars:20 }}</a><br />
    <em>{{ bookmark.description }}</em><br />
    <strong>Filed Under:</strong> <a href="{{ bookmark.tag.get_absolute_url }}">{{ bookmark.tag }}</a>
    <div class="tools">
        <!-- Favorite link -->
        <form method="post" action="{{ bookmark.get_favorite_url }}" class="favorite-bookmark {{ bookmark.pk }}">
            {% csrf_token %}
            <button class="link-button" type="submit" />
                {% if bookmark.favorited %}<i class="star icon-star"></i>{% else %}<i class="star icon-star-empty"></i>{% endif %}
            </button>
        </form>
        <!-- Edit link -->
        <a href="{{ bookmark.get_edit_url }}"><span class="link-button"><i class="icon-pencil"></i></span></a>
        <!-- Delete link -->
        <form method="post" action="{{ bookmark.get_delete_url }}">
            {% csrf_token %}
            <button class="link-button" type="submit" onclick="return confirm('Are you sure you\'d like to delete this bookmark?')" />
                <i class="icon-remove"></i>
            </button>
        </form>
    </div>
</li>
