<div class="item-block">
    <div class="item">
        <span class="hidden" >{{ bookmark.tag }}</span>
        <a class="title" href="{{ bookmark.url }}">{{ bookmark.title }}</a>
        <div class="item-extra-info">
            <em>{{ bookmark.description }}</em><br />
        </div>
    </div>
    <div class="indv-item-tools">
        <ul>
            <li>
                <form method="post" action="{{ bookmark.get_favorite_url }}" class="favorite-bookmark {{ bookmark.pk }}">
                    {% csrf_token %}
                    <button class="link-button tool" type="submit" />
                        {% if bookmark.favorited %}<i class="star icon-star"></i>{% else %}<i class="star icon-star-empty"></i>{% endif %}Favorite
                    </button>
                </form>
            </li>
            <li><a class="tool" href="{{ bookmark.get_edit_url }}">Edit</a></li>
            <li>
                <form method="post" action="{{ bookmark.get_delete_url }}" class="delete-form">
                    {% csrf_token %}
                    <button class="tool" type="submit" />Delete</button>
                </form>
            </li>
        </ul>
    </div>
</div>
