{% comment %}
    {% include "partials/form.html" with action=url submit_text='Text' %}
{% endcomment %}

<form action="{{ action }}" method="{{ method|default:'post' }}" class="data-form">
    {% csrf_token %}
    <div class="non-field-errors">{{ form.non_field_errors }}</div>

    {% for hidden in form.hidden_fields %}
        {% block hidden_field %}{{ hidden }}{% endblock %}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="field-wrapper{% if field.errors|length %} error{% endif %}">
            <div class="field-label">{{ field.label_tag }}</div>
            <div class="field-widget">{{ field }}</div>
            <div class="field-additional">
                <div class="field-help-text">{{ field.help_text }}</div>
                {% if field.errors %}
                <div class="field-errors">
                    {% for error in field.errors %}
                        <i class="icon-warning-sign"></i> {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="buttons">
        <input type="submit" name="submit" value="{{ submit_text|default:'Submit' }}" />
        {% if cancel != 'None' %}
            <a href="{{ referer }}">Cancel</a>
        {% endif %}
        {% block extra_buttons %}{% endblock %}
    </div>
</form>
