<form action="{{ action }}" method="{{ method|default:'post' }}" role="form">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="non-field-errors">
            {{ form.non_field_errors }}
            <ul><li>{{ error }}</li></ul>
        </div>
    {% elif error %}
        <div class="non-field-errors">
            {{ form.non_field_errors }}
            <ul><li>{{ error }}</li></ul>
        </div>
    {% endif %}

    {% for hidden in form.hidden_fields %}
        {% block hidden_field %}{{ hidden }}{% endblock %}
    {% endfor %}

    {% for field in form.visible_fields %}
        <div class="form-group{% if field.errors|length %} error{% endif %} clearfix">
            {{ field.label_tag }}
            {{ field }}
            <p class="help-block">{{ field.help_text }}</p>
            {% if field.errors %}
            <div class="field-errors">
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-green">{{ submit_text|default:'Submit' }}</button>
    {% if cancel != 'None' %}<a class="btn btn-red" href="{{ cancel_link }}">Cancel</a>{% endif %}

    {% block extra_buttons %}{% endblock %}
</form>
