<div class="item-block {{ note.pk }}">
    <div class="item">
        <a href="{{ note.get_absolute_url }}">{{ note.title }}</a>
        {% if note.description %}
            <div class="item-extra-info">
                <em>{{ note.description|truncatechars:30 }}</em>
            </div>
        {% endif %}
    </div>
    <div class="indv-item-tools">
        <ul>
            <li><a class="tool" href="{{ note.get_edit_url }}">Edit</a></li>
            <li>
                <form method="post" action="{{ note.get_delete_url }}" class="delete-form">
                    {% csrf_token %}
                    <button class="tool" type="submit" />Delete</button>
                </form>
            </li>
        </ul>
    </div>
</div>
