<div class="item-block {{ reminder.pk }}">
    <div class="item">
        <a class="title" href="{{ reminder.get_absolute_url }}">{{ reminder.title }} ({{ reminder.date }})</a>
        <div class="item-extra-info">{{ reminder.description }}</div>
    </div>
    <div class="indv-item-tools">
        <ul>
            <li><a class="tool" href="{{ reminder.get_edit_url }}">Edit</a></li>
            <li>
                <form method="post" action="{{ reminder.get_delete_url }}">
                    {% csrf_token %}
                    <button class="link-button tool" type="submit" />Delete</button>
                </form>
            </li>
        </ul>
    </div>
</div>
