<li class="item closed" data-color="#FB642B;" data-link-color="#444;">
    <div class="item-content">
        <a class="title" href="{{ reminder.get_absolute_url }}">{{ reminder.title }}</a> (<a class="manage" href="#">Manage</a>)<br />
        <em>{{ reminder.description }}</em><br />
        <strong>Scheduled For:</strong> {{ reminder.date }}
    </div>
</li>
<li class="tag-tools closed clearfix">
    <ul>
        <li>
            <a href="{{ reminder.get_edit_url }}"><span class="link-button tool"><i class="icon-pencil"></i> Edit</span></a>
        </li>
        <!-- Delete link -->
        <li>
            <form method="post" action="{{ reminder.get_delete_url }}">
                {% csrf_token %}
                <button class="link-button tool" type="submit" onclick="return confirm('Are you sure you\'d like to delete this reminder?')" />
                    <i class="icon-remove"></i> Delete
                </button>
            </form>
        </li>
    </ul>
</li>
