<div class="item-block">
    <div class="item">
        <a class="title" href="{{ tag.get_absolute_url }}">{{ tag.title }} - {{ tag.bookmarks_count }}</a>
    </div>
    <div class="indv-item-tools">
        <ul>
            <li><a class="tool" href="{{ tag.get_edit_url }}">Edit</a></li>
            <li>
                <form method="post" action="{{ tag.get_delete_url }}" class="delete-form">
                    {% csrf_token %}
                    <button class="tool" type="submit" />Delete</button>
                </form>
            </li>
        </ul>
    </div>
</div>
