<li class="item closed clearfix" data-color="#FB642B;" data-link-color="#FB642B;">
    <div class="item-content {{ task.pk }}">
        <span {% if task.complete %}style="text-decoration: line-through;"{% endif %}>{{ task.task }}</span> (<a style="color: #FB642B;" href="#" class="manage">Manage</a>)<br />
    </div>
</li>
<li class="bookmark-tools closed clearfix">
    <ul>
        <!-- Complete link -->
        <li>
            <form method="post" action="{{ task.get_complete_url }}" class="complete-task {{ task.pk }}">
                {% csrf_token %}
                <button class="link-button tool" type="submit" />
                    {% if task.complete %}<i class="star icon-circle"></i>{% else %}<i class="star icon-circle-blank"></i>{% endif %} Complete
                </button>
            </form>
        </li>
        <!-- Edit Button -->
        <li>
            <a class="tool" href="{{ task.get_edit_url }}"><span class="link-button"><i class="icon-pencil"></i> Edit</span></a>
        </li>
        <!-- Delete Button -->
        <li>
            <form method="post" action="{{ task.get_delete_url }}">
                {% csrf_token %}
                <button class="link-button tool" type="submit" onclick="return confirm('Are you sure you\'d like to delete this task?')" />
                    <i class="icon-remove"></i> Delete
                </button>
            </form>
        </li>
    </ul>
</li>
