<div class="item-block {{ task.pk }}">
    <div class="item">
        <form method="post" action="{{ task.get_complete_url }}" class="complete-task">
            {% csrf_token %}
            <button type="submit" {% if task.complete %}style="text-decoration: line-through;"{% endif %} />{{ task.task }}</button>
        </form>
    </div>
    <div class="indv-item-tools">
        <ul>
            <li><a class="tool" href="{{ task.get_edit_url }}">Edit</a></li>
            <li>
                <form method="post" action="{{ task.get_delete_url }}" class="delete-task">
                    {% csrf_token %}
                    <button class="tool" type="submit" />Delete</button>
                </form>
            </li>
        </ul>
    </div>
</div>
