<div class="item-block row {{ todolist.pk }}">
    <div class="left-tool col-xs-1">
        <span class="count">{{ todolist.get_completed_tasks_count }}/{{ todolist.get_tasks_count }}</span>
    </div>
    <div class="item col-xs-10">
        <a class="title" href="{{ todolist.get_absolute_url }}">{{ todolist.title }}</a> (<a href="{{ todolist.get_edit_url }}">Edit</a>)
    </div>
    <form method="post" action="{{ todolist.get_delete_url }}" class="delete-form delete-item col-xs-1">
        {% csrf_token %}
        <button type="submit" /><i class="fa fa-times"></i></button>
    </form>
</div>
