/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #444;
}

body {
    background: #FFF;
    color: #444;
    height: 100%;
    font-size: 1em;
    line-height: 1.5;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #B3D4FC;
    text-shadow: none;
}

::selection {
    background: #B3D4FC;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #CCC;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #FB642B;
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

select {
    background: #FFF;
    border: 1px solid #BBB;
    padding: 9px 10px;
}

.home .header {
    background: #FB642B url('../images/mountains.jpg') 50% 20%;
    border-top: 10px solid #1A1B1A;
    color: #FFF;
    height: 500px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.home a {
    font-weight: bold;
    text-decoration: none;
}

.home .header-content {
    margin: 100px auto 0 auto;
    width: 300px;
}

.home .header-content a {
    background: #1879DE;
    border: 1px solid #1158A1;
    color: #FFF;
    display: inline-block;
    margin: 20px 10px;
    padding: 7px 15px;
    text-decoration: none;
    text-shadow: none;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
}


.home .header-content a:hover {
    background: #2f8ae9;
}

.home h1 {
    font-size: 36px;
    margin: 0;
}

.home .center-text h1 {
    border-top: 10px solid #FA4C0A;
}

.header h1 i {
    font-size: 50px;
}

.home h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}

.home h3 {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.home h3 i {
    font-size: 50px;
}

.home .description {
    border-top: 1px solid #bd3604;
    font-size: 18px;
    padding: 30px;
}

.home .description p {
    border-bottom: 1px solid #D8D8D8;
    margin: 0 auto;
    padding: 0 0 30px 0;
    max-width: 540px;
    text-align: center;
}

.home .information {
    background: #FFF;
    width: 100%;
}

.home .information .info-item {
    float: left;
    margin: 20px 0;
    text-align: center;
    width: 25%;
}

.home .information .info-item h3,
.home .information .info-item p {
    margin: 10px 30px;
}

.footer {
    background: #1A1B1A;
    color: #FFF;
    font-size: 14px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

/**** Header Stuff ****/

.fixed-header {
    background: #1B1A1B;
    height: 50px;
    left: 0;
    line-height: 50px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.fixed-header a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
}

.fixed-header .left {
    float: left;
    margin: 0 30px;
}


.fixed-header .right {
    margin: 0 30px;
    text-align: right;
}

.fixed-header .right ul li {
    display: inline-block;
    margin: 0 10px;
}

.fixed-header .right ul li a, .fixed-header button {
    background: none;
    border: none;
    color: #FFF;
}

.page-title {
    display: inline-block;
    padding-right: 100px;
}

.home-title {
    display: none;
}

.content {
    border-left: 1px solid #BBB;
    border-right: 1px solid #BBB;
    margin: 50px auto 30px auto;
    width: 600px;
}

/**** Bookmark/Tag/Reminder Item Stuff ****/

.item,
.tag-item,
.reminder-item {
    border-bottom: 1px solid #BBB;
}

.item:hover {
    cursor: pointer;
}

.item .title,
.tag-item .title,
.reminder-item .title {
    font-size: 24px;
    font-weight: bold;
}

.item a,
.tag-item a,
.reminder-item a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
}

.tag-item .item-content {
    color: #FFF;
}

.item .item-content,
.tag-item .item-content,
.reminder-item .item-content {
    display: inline-block;
    margin: 21px 30px;
}

.reminder-item {
    color: #444;
}

/**** Manage Link Stuff ****/

a.manage {
    color: #444;
}

a.manage:hover {
    text-decoration: underline;
}

/**** Bookmark/Tag/Reminder Tools Stuff ****/

.bookmark-tools, .tag-tools {
    background: #F1F1F1;
    border-bottom: 1px solid #BBB;
    display: none;
}

.tag-tools button,
.bookmark-tools button,
.tag-tools a,
.bookmark-tools a {
    background: #F1F1F1;
    border: none;
    color: #444;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    text-align:center;
    text-decoration: none;
    width: 100%;
}

.tag-tools button,
.bookmark-tools button {
    padding: 12px 0;
}

.tag-tools button:hover,
.bookmark-tools button:hover,
.tag-tools a:hover,
.bookmark-tools a:hover {
    background: #CFCFCF;
}

.tag-tools li, .bookmark-tools li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}

.bookmark-tools li {
    width: 33.33333%;
}

/**** When Nothing is Found Stuff ****/

.none-found {
    border-bottom: 1px solid #BBB;
    font-size: 24px;
    font-weight: bold;
    padding: 30px 0;
    text-align: center;
}

.none-found .description {
    font-size: 16px;
    font-weight: normal;
}

/**** Add an Item ****/

.add-item, .back-button {
    border-bottom: 1px solid #BBB;
}

.add-item a, .back-button a {
    background: #FB642B;
    color: #FFF;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.add-item a:hover {
    background: #FA4C0A;
}


.back-button a {
    background: #F1F1F1;
    color: #000;
}

.back-button a:hover {
    background: #CFCFCF;
}

/**** Search Stuff ****/

.search-form {
    background: #F1F1F1;
    border-bottom: 1px solid #BBB;
    padding: 10px 30px;
}

.search-form input[type="text"] {
    border: 1px solid #CFCFCF;
    padding: 10px;
    width: 430px;
}

.search-form button {
    background: #FB642B;
    border: 1px solid #FA4C0A;
    color: #FFF;
    font-weight: bold;
    padding: 9px 10px;
}

.search-form button:hover {
    background: #FA4C0A;
}

/**** Forms Stuff ****/

.form {
    border-bottom: 1px solid #BBB;
}

.home .form {
    border: 1px solid #BBB;
    margin: 20px auto;
    width: 500px;
}

.form .non-field-errors {
    background: #FA4C0A;
    color: #FFF;
    padding: 21px 0 21px 30px;
}

.form .field-wrapper {
    border-bottom: 1px solid #BBB;
    padding: 30px 30px 30px 20px;
}

.form .field-wrapper.error {
    background: #FA4C0A;
    color: #FFF;
}

.form .field-wrapper input[type="text"],
.form .field-wrapper input[type="password"],
.form .field-wrapper textarea {
    border: 1px solid #BBB;
    padding: 5px;
    width: 100%;
}

.form .field-label {
    font-weight: bold;
}

.form .field-widget {
    display: inline-block;
    float: left;
    width: 100%;
}

.form .field-additional {
    display: block;
    margin: 0;
    padding: 10px 0 0 0;
}

.form .buttons {
    background: #F1F1F1;
    border: none;
}

.form .buttons input,
.form .buttons a {
    background: #F1F1F1;
    border: none;
    color: #444;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    text-align:center;
    text-decoration: none;
    width: 100%;
}

.form .buttons input {
    padding: 12px 0;
}

.form .buttons input:hover,
.form .buttons a:hover {
    background: #CFCFCF;
}

.form .buttons li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}

.form .field-help-text {
    font-style: italic;
}

/**** Reminders stuff ****/

.reminder-choice {
    background: #F1F1F1;
    border-bottom: 1px solid #BBB;
}

.reminder-choice a {
    background: #F1F1F1;
    border: none;
    color: #444;
    display: block;
    font-weight: bold;
    padding: 10px 0;
    text-align:center;
    text-decoration: none;
    width: 100%;
}

.reminder-choice a:hover {
    background: #CFCFCF;
}

.reminder-choice li {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%;
}

.calendar {
    border-bottom: 1px solid #BBB;
}

.toolbar h1, .reminder-date-form {
    background: #F1F1F1;
    border-bottom: 1px solid #BBB;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.reminder-date-form button {
    background: #FB642B;
    border: 1px solid #FA4C0A;
    color: #FFF;
    font-weight: bold;
    padding: 9px 10px;
}

.calendar table {
    margin: 0 auto;
    text-align: center;
}

.calendar table th,
.calendar table tr,
.calendar table td {
    padding: 10px 7px;
}

.calendar table td {
    border: 1px solid #BBB;
}

.calendar td a {
    color: #444;
    text-decoration: none;
}

.calendar .today {
    background: #CFCFCF;
    font-weight: bold;
}

.calendar .reminder {
    background: #FB642B;
}

.calendar .today a,
.calendar .reminder a {
    color: #FFF;
}



/* Timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* ==========================================================================
   My classes
   ========================================================================== */

.center-text {
    text-align: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media screen and (max-width: 54em) {
    .home .information .info-item {
        width: 100%;
    }
}

@media screen and (max-width: 38em) {
    .content,
    .home .information .info-item,
    .home .form {
        width: 100%;
    }

    .page-title {
        padding-right: 0;
    }

    .mobile-hide {
        display: none;
    }

    .search-form input[type="text"] {
        width: 50%;
    }

    .content {
        border-left: none;
        border-right: none;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
