/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #444;
}

body {
    background: #2681DC;
    color: #F1F1F1;
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    text-shadow: 1px 1px 1px #1860A8;
}

::-moz-selection {
    background: #3792ED;
    text-shadow: none;
}

::selection {
    background: #3792ED;
    text-shadow: none;
}

::-webkit-input-placeholder,
::-webkit-input-placeholder {
    color: #7AB5F0;
    font-style: italic;
}

::-moz-placeholder,
::-moz-placeholder { /* Firefox 18- */
    color: #7AB5F0;
    font-style: italic;
}

::-moz-placeholder,
::-moz-placeholder {  /* Firefox 19+ */
    color: #7AB5F0;
    font-style: italic;
}

::-ms-input-placeholder,
::-ms-input-placeholder {
    color: #7AB5F0;
    font-style: italic;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a:hover {
    color: #B8D7F5;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #CCC;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General */
a {
    color: #9ECBF7;
    font-weight: bold;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

select {
    background: #F1F1F1;
    border: 1px solid #1E63A8;
    padding: 9px 10px;
}


i {
    margin-right: 10px;
}


/*** Main Items ***/
.content {
    margin: 100px 200px;
}

/* Dashboard Stuff */
.logo,
.logo-auth {
    font-size: 35px;
    font-weight: bold;
}

.logo .welcome {
    font-size: 26px;
    font-weight: normal;
}

.logo a,
.logo-auth a {
    color: #F1F1F1;
}

.dashboard ul li {
    line-height: 0;
    margin: 15px 0;
}

.dashboard ul li a,
.dashboard ul li .form-link button {
    display: block;
    font-size: 19px;
    padding: 10px;
    text-align: left;
    width: 100%;
    -webkit-transition: background 0.2s linear;
       -moz-transition: background 0.2s linear;
        -ms-transition: background 0.2s linear;
         -o-transition: background 0.2s linear;
            transition: background 0.2s linear;
}


.dashboard ul li a:hover,
.dashboard ul li .form-link button:hover {
    background: #3792ED;
}


/* Item Stuff */
.item-tools {
    margin-left: 35px;
}

.item-tools a {
    margin-right: 15px;
}

.items {
    margin-top: 25px;
}

.item-block {
    font-size: 19px;
    margin: 5px 0 5px 25px;
}

.indv-item-tools {
    color: #F1F1F1;
    display: none;
}

.indv-item-tools li {
    display: inline-block;
}

.indv-item-tools .tool {
    background: none;
    border: none;
    color: #9ECBF7;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
    text-shadow: 1px 1px 1px #1860A8;
}

.indv-item-tools .tool:hover {
    color: #B8D7F5;
}

.none-found {
    margin-left: 35px;
}

.item {
    color: #F1F1F1;
}

.item h2 {
    line-height: 0;
    margin-left: 10px;
}

.item a,
.item button {
    background: none;
    border: none;
    color: #F1F1F1;
    display: block;
    padding: 10px;
    text-align: left;
    width: 100%;
    -webkit-transition: background 0.2s linear;
       -moz-transition: background 0.2s linear;
        -ms-transition: background 0.2s linear;
         -o-transition: background 0.2s linear;
            transition: background 0.2s linear;
}

.item a:hover,
.item button:hover {
    background: #3792ED;
}

.item-extra-info {
    padding-left: 10px;
}

.count {
    float: right;
}


/* Reminders Stuff */
.calendar {
    margin-left: 35px;
}

.calendar table {
    border: 1px solid #9ECBF7;
    width: 100%;
}

.calendar table thead {
    background: #9ECBF7;
    border-bottom: 1px solid #9ECBF7;
    font-size: 18px;
}

.calendar table th {
    border-right: 1px solid #9ECBF7;
}

.calendar table tr {
    border: 1px solid #9ECBF7;
}

.calendar table td {
    border: 1px solid #9ECBF7;
    text-align: center;
}

.calendar table a {
    display: inline-block;
    padding: 20px 0;
    width: 100%;
}

.calendar table td.reminder a {
    background: #9ECBF7;
    color: #F1F1F1;
}

.calendar table td a:hover,
.calendar table td.today a {
    background: #1E63A8;
}

.calendar .reminder-date-form {
    float: left;
    margin-top: 20px;
}

.calendar .reminder-choice {
    float: right;
    margin-top: 30px;
}

.calendar .reminder-choice li {
    display: inline-block;
}

.calendar .reminder-choice .previous {
    margin-right: 50px;
}


/* Search Form Stuff */
.search-box {
    background: none;
    border: none;
    border-bottom: 1px dotted #F1F1F1;
    color: #F1F1F1;
    margin: 20px 0 20px 35px;
    padding: 8px 0;
    width: 100%;
}

.search-box:focus {
    outline: 0;
}


/* Form Stuff */
.form {
    margin: 20px 0;
}

.field-wrapper {
    margin: 20px 20px 20px 35px;
}

.field-label {
    font-size: 19px;
    font-weight: bold;
}


.field-widget input,
.field-widget textarea {
    background: none;
    border: none;
    padding: 10px 20px 0 0;
    color: #F1F1F1;
    width: 100%;
}

.field-widget textarea {
    height: 60px;
}


.field-widget input:focus,
.field-widget textarea:focus {
    border: none;
    outline: 0;
}

.buttons {
    margin: 20px 20px 20px 35px;
}

.buttons li {
    display: inline-block;
    margin-right: 10px;
}

.buttons li a {
    background: #609EDB;
}

.home {
    margin: 20px auto;
    width: 800px;
}

.home .logo {
    font-size: 28px;
    float: left;
}

.home .nav {
    float: right;
    margin: 10px 0;
}

.home .nav a {
    margin-left: 20px;
}

.home .description {
    margin: 100px 0 100px 0;
    text-align: center;
}

.home .description h1 {
    font-size: 24px;
}

.home .description h2 {
    font-size: 18px;
    font-weight: 400;
}

.home .information .info-item {
    float: left;
    width: 350px;
}

.home .information .left {
    margin-right: 100px;
}

.home .information h3 {
    margin: 0;
}

.footer {
    font-size: 14px;
    text-align: center;
}



/* Timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* ==========================================================================
   My classes
   ========================================================================== */

.center-text {
    text-align: center;
}

.form-link button {
    background: none;
    border: none;
    color: #F1F1F1;
    font-size: 19px;
    font-weight: bold;
    padding: 0;
}

.btn {
    background: #114880;
    color: #F1F1F1;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    text-shadow: 1px 1px 1px #1860A8;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media screen and (max-width: 54em) {
    .home .information .info-item {
        width: 100%;
    }
}

@media screen and (max-width: 38em) {
    .content,
    .home .information .info-item,
    .home .form {
        width: 100%;
    }

    .page-title {
        padding-right: 0;
    }

    .mobile-hide {
        display: none;
    }

    .search-form input[type="text"] {
        width: 50%;
    }

    .content {
        border-left: none;
        border-right: none;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
