/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #171D1F;
}

body {
    background: #F6FAFE;
    color: #171D1F;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

::-moz-selection {
    background: #3792ED;
    text-shadow: none;
}

::selection {
    background: #3792ED;
    text-shadow: none;
}

::-webkit-input-placeholder,
::-webkit-input-placeholder {
    color: #7AB5F0;
    font-style: italic;
}

::-moz-placeholder,
::-moz-placeholder { /* Firefox 18- */
    color: #7AB5F0;
    font-style: italic;
}

::-moz-placeholder,
::-moz-placeholder {  /* Firefox 19+ */
    color: #7AB5F0;
    font-style: italic;
}

::-ms-input-placeholder,
::-ms-input-placeholder {
    color: #7AB5F0;
    font-style: italic;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

a:hover {
    color: #B8D7F5;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #CCC;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* General */
a {
    color: #F96B5C;
    text-decoration: none;
}

a:hover,
a:visited,
a:active,
a:focus {
    color: #F96B5C;
    text-decoration: underline;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input,
textarea {
    background: #FFF;
    border: 1px solid #DDD;
}

select {
    border: 1px solid #DDD;
    padding: 9px 10px;
}


/* Main Items */
.admin {
    margin: 40px auto;
}

.content {
    margin: 100px 200px;
}

.navbar-default {
    background-color: #171D1F;
    border: none;
}

.navbar-default .navbar-brand {
    color: #FFF;
    font-size: 20px;
}

.navbar-default .navbar-brand:hover {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a {
    color: #6D767A;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #545D61;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #FFF;
    background-color: #F96B5C;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color: #F96B5C;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    color: #FFF;
    background-color: #F96B5C;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #F96B5C;
    border: none;
    outline: none;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.container>.navbar-header,
.container>.navbar-collapse {
    padding: 0 20px;
}

.navbar-brand {
    font-weight: 700;
}

.navbar .btn {
    background: none;
    border: none;
    color: #FFF;
    font-weight: 700;
}

.footer {
    background: #171D1F;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    color: #FFF;
}

/* Home Stuff */
.home .header {
    background: url('../images/woods.jpg') no-repeat bottom center;
    background-size: cover;
    background-attachment: fixed;
    border-top: 10px solid #171D1F;
    height: 700px;
    padding: 250px 0 0 0;
    text-align: center;
    width: 100%;
}

.home .header .logo {
    color: #FFF;
    display: inline-block;
    font-weight: 700;
    padding: 15px 40px;
}

.home .header .logo h1 {
    font-size: 50px;
    margin: 0 0 10px 0;
}

.home .header .logo h1 a {
    color: #FFF;
    font-weight: 700;
}

.home .header .logo h1 a:hover {
    color: #FFF;
    text-decoration: none;
}

.home .header .logo h2 {
    color: #CCC;
    font-size: 22px;
    margin: 0;
}

.home .nav {
    margin-top: 30px;
}

.home .nav a {
    margin-right: 20px;
}

.home .description {
    padding: 40px;
    text-align: center;
}

.home.login .description {
    text-align: left;
}

.home .description h3 {
    color: #4A4A4A;
    font-size: 24px;
    line-height: 1.5;
}

.home .full-width {
    background: #F96B5C;
    color: #FFF;
    width: 100%;
}

.home .information {
    padding: 60px 0;
    text-align: center;
}

.info-item i {
    margin-bottom: 10px;
}


/* Dashboard Stuff */
.container {
    padding: 0;
}

.row {
    margin: 0;
}

.dashboard-stats {
    padding: 20px;
}

.dashboard-stat {
    border-left: 1px solid #DDD;
    text-align: center;
}

.dashboard-stat:first-child {
    border-left: none;
}

.dashboard-stat .count {
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.dashboard-stat a:hover {
    text-decoration: none;
}

.items {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
}

.item-block {
    border-top: 1px solid #DDD;
    padding: 15px;
}

.item-block:first-child {
    border-top: none;
}

.item-block:hover {
    background: #EEE;
}

.left-tool button {
    background: none;
    border: none;
}

.item a.title {
    color: #171D1F;
    font-weight: 700;
}

.item .item-extra-info {
    color: #AAA;
}

.left-tool.double,
.delete-item.double {
    padding-top: 10px;
}

.delete-item {
    text-align: right;
}

.delete-item button {
    background: none;
    border: none;
}

.page-header a {
    margin-top: 20px;
}

.none-found {
    padding: 20px;
}

.count {
    font-weight: bold;
}


/* Reminders Stuff */
.today-reminders{
    margin-bottom: 30px;
    padding: 20px;
}

.today-reminders h2 {
    margin-top: 0;
}

.calendar-header {
    padding: 20px;
}

.calendar-header div {
    margin: 0;
    padding: 0;
}

.calendar-title h2 {
    margin: 0;
    padding: 0;
    text-align: center;
}

.calendar-table {
    margin: 20px;
}

.calendar table {
    border: 1px solid #CCC;
}

.calendar table thead {
    background: #DDD;
    border-bottom: 1px solid #DDD;
    font-size: 18px;
}

.calendar table th {
    border-right: 1px solid #CCC;
    text-align: center;
}

.calendar table tr {
    border: 1px solid #CCC;
}

.calendar table td {
    border: 1px solid #CCC;
    text-align: center;
}

.calendar table a {
    color: #171D1F;
    display: inline-block;
    padding: 20px 0;
    width: 100%;
}

.calendar table td.reminder a {
    background: #CCC;
    color: #171D1F;
}

.calendar table td a:hover,
.calendar table td.today a {
    background: #54BB87;
    color: #FFF;
}

.calendar-form {
    margin: 20px;
}

.calendar .reminder-date-form {
    padding: 0;
}

.calendar .next {
    text-align: right;
}


/* Search Form Stuff */
.search-form.col-xs-12 {
    padding: 0;
}

.search-box {
    margin: 20px 0;
    padding: 8px;
}


/* Form Stuff */
.completed {
    background: #EEE;
}

.completed button {
    color: #BBB;
    text-decoration: line-through;
}

.complete-task button {
    background: none;
    border: none;
}


/* Timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/* ==========================================================================
   My classes
   ========================================================================== */

.center-text {
    text-align: center;
}

.form-link button {
    background: none;
    border: none;
    color: #F1F1F1;
    font-size: 19px;
    font-weight: bold;
    padding: 0;
}

.btn-green {
    background: #54BB87;
    border: 1px solid #46A675;
    color: #FFF;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.btn-red {
    background: #F96B5C;
    border: 1px solid #E65D4E;
    color: #FFF;
    font-weight: 700;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.btn-white {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fafafa 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#fafafa));
    background: -webkit-linear-gradient(top, #ffffff 0%,#fafafa 100%);
    background: -o-linear-gradient(top, #ffffff 0%,#fafafa 100%);
    background: -ms-linear-gradient(top, #ffffff 0%,#fafafa 100%);
    background: linear-gradient(to bottom, #ffffff 0%,#fafafa 100%);
    border: 1px solid #C4C4C4;
    color: #4E5356;
    font-weight: bold;
}

.btn-outline {
    border: 3px solid #FFF;
    border-radius: 0;
    color: #FFF;
    font-weight: 700;
    padding: 10px 30px;
}

.btn-outline:hover {
    background: rgba(0, 0, 0, .5);
}

.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
    color: #FFF;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */


@media screen and (max-width: 50em) {
    .page-header .pull-left {
        display: block;
        float: none !important;
    }

    .page-header .pull-right {
        display: block;
        float: none !important;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 54em) {

    .today-reminders h2 {
        font-size: 20px;
        font-weight: 700;
    }

    .dashboard-stat {
        border-left: none;
        border-top: 1px solid #DDD;
        padding: 10px 0;
    }

    .dashboard-stat:first-child {
        border-top: none;
        padding: 0 0 10px 0;
    }

    .reminder-date-form select,
    .reminder-date-form input {
        margin-bottom: 10px;
    }
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
