{% extends 'base.html' %}

{% block title %}<i class="icon-bookmark"></i> Bookmarks{% endblock %}

{% block content %}
    {% url "list-bookmarks" as list_bookmarks %}
    <div class="toolbar">
        <div class="add-item">
            <a href="{% url 'add-bookmark' %}"><i class="icon-plus-sign"></i> Add a Bookmark</a>
        </div>
        {% include "partials/search.html" with url=list_bookmarks %}
    </div>
    <ul>
    {% for bookmark in bookmarks %}
        {% include "partials/bookmark_item.html" %}
    {% empty %}
        <li class="none-found">
            No bookmarks found :(<br />
            <span class="description">Go ahead and add one!</span>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
