<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Bookmark Manager - {% block title %}Home{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/main.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="header clearfix">
            <div class="logo">
                <a href="{% url 'user-home' %}">Logo</a>
            </div>
            {% if user.is_authenticated %}
                <div class="user-info">
                    <strong><i class="icon-user"></i> {{ user.get_full_name }}</strong><br />
                    <a href="{% url 'edit-profile' %}"><i class="icon-pencil"></i> Edit Profile</a>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class='link-button' />
                            Logout
                        </button>
                    </form>
                </div>
            {% endif %}
        </div>
        <div class="wrap" id="wrap">
            <a href="#menu" class="menu-link">Menu</a>
            {% if user.is_authenticated %}
                {% include "partials/sidebar.html" %}
            {% endif %}
            <div class="main-content">
                {% block content%}
                    <p>Sorry, no content!</p>
                {% endblock %}
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="{{ MEDIA_URL }}js/global.js"></script>
    </body>
</html>
