<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MyDash - All Your Tools in One Place</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" type="image/x-icon" href="{{ MEDIA_URL }}favicon.ico">

        <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,600'>
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/normalize.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/green.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom-theme/jquery-ui-1.10.3.custom.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        {% block home %}{% endblock %}

        {% if user.is_authenticated %}
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}"><i class="fa fa-thumb-tack"></i> MyDash</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'edit-profile' %}">Profile</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bookmarks <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'list-bookmarks' %}">View All Bookmarks</a></li>
                                <li><a href="{% url 'favorited-bookmarks' %}">View Favorited Bookmarks</a></li>
                                <li><a href="{% url 'list-tags' %}">View Tags</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reminders <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'calendar' %}">View Calendar</a></li>
                                <li><a href="{% url 'list-reminders' %}">View List</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'list-categories' %}">Notes</a></li>
                        <li><a href="{% url 'list-todolists' %}">Todo Lists</a></li>
                    </ul>
                    <form action="{% url 'logout' %}" method="post" class="navbar-form navbar-right" role="search">
                        {% csrf_token %}
                        <button type="submit" class="btn"><i class="fa fa-lock"></i> Logout</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="container admin">
            <div class="row">
                {% block content%}
                    <p>Sorry, no content!</p>
                {% endblock %}
            </div>
        </div>
        {% endif %}


        {% if not user.is_authenticated %}
            {% block footer %}
                <div class="footer text-muted">
                    &copy; {% now "Y" %} MyDash &middot; Developed by <a href="http://sackettsolutions.com">Dan Sackett<a/>
                </div>
            {% endblock %}
        {% endif %}

        <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="https://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery.icheck.min.js"></script>
        <script src="{{ MEDIA_URL }}js/jquery-ui-timepicker.min.js"></script>
        <script src="{{ MEDIA_URL }}js/bootstrap.min.js"></script>
        <script src="{{ MEDIA_URL }}js/global.js"></script>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-11872068-6']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
